{% extends '@ibexadesign/ui/layout.html.twig' %}

{% form_theme form '@ibexadesign/ui/form_fields.html.twig' %}

{% trans_default_domain 'masilia_consent' %}

{% block header %}
    {% set policy_create_sidebar_right = knp_menu_get('masilia_consent.menu.policy_sidebar', [], {
        save_id: form.save.vars.id,
        cancel_url: path('masilia_consent_admin_policy_list'),
    }) %}

    {% include '@ibexadesign/ui/edit_header.html.twig' with {
        action_name: 'policy.creating'|trans|desc('Creating'),
        title: 'policy.create.title'|trans|desc('New Cookie Policy'),
        subtitle: 'policy.subtitle'|trans|desc('Cookie Policies'),
        context_actions: knp_menu_render(policy_create_sidebar_right, {'template': '@ibexadesign/ui/menu/context_menu.html.twig'})
    } %}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('masilia_consent_admin_policy_create')}) }}
        <section>
            <div class="card ibexa-card ibexa-card--light">
                <div class="card-body ibexa-card__body ibexa-form-block">
                    {{ form_row(form.version, { row_attr: { class: 'ibexa-form-field' }, attr: {'autofocus': 'autofocus'} }) }}
                    {{ form_row(form.cookiePrefix, { row_attr: { class: 'ibexa-form-field' } }) }}
                    {{ form_row(form.expirationDays, { row_attr: { class: 'ibexa-form-field' } }) }}
                    {{ form_row(form.siteAccess, { row_attr: { class: 'ibexa-form-field' } }) }}
                    {{ form_row(form.isActive, { row_attr: { class: 'ibexa-form-field' }, label_attr: { class: 'checkbox-inline' } }) }}
                </div>
            </div>
        </section>
        {{ form_widget(form.save, {'attr': {'hidden': 'hidden'}}) }}
    {{ form_end(form) }}
{% endblock %}
