{% extends '@ibexadesign/language/base.html.twig' %}

{% form_theme form '@ibexadesign/ui/form_fields.html.twig' %}

{% trans_default_domain 'masilia_consent' %}

{% block header_admin %}
    {% include '@ibexadesign/ui/edit_header.html.twig' with {
        action_name: 'policy.creating'|trans|desc('Creating'),
        title: 'policy.create.title'|trans|desc('Create new cookie policy'),
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form, {'action': path('masilia_consent_admin_policy_create')}) }}
        <section>
            <div class="card ibexa-card ibexa-card--light">
                <div class="card-header ibexa-card__header">
                    <h3 class="ibexa-card__title">
                        {{ 'policy.form.basic_information'|trans|desc('Basic Information') }}
                    </h3>
                </div>
                <div class="card-body ibexa-card__body ibexa-form-block">
                    {{ form_row(form.version, { row_attr: { class: 'ibexa-form-field' } }) }}
                    {{ form_row(form.cookiePrefix, { row_attr: { class: 'ibexa-form-field' } }) }}
                    {{ form_row(form.expirationDays, { row_attr: { class: 'ibexa-form-field' } }) }}
                    {{ form_row(form.isActive, { row_attr: { class: 'ibexa-form-field' }, label_attr: {'class': 'checkbox-inline'}}) }}
                </div>
            </div>
        </section>

        <section class="mt-4">
            <div class="card ibexa-card ibexa-card--light">
                <div class="card-header ibexa-card__header">
                    <h3 class="ibexa-card__title">
                        {{ 'policy.form.categories'|trans|desc('Categories') }}
                    </h3>
                </div>
                <div class="card-body ibexa-card__body">
                    <p class="text-muted">
                        {{ 'policy.form.categories_help'|trans|desc('Define cookie categories for this policy. Categories will be added after policy creation.') }}
                    </p>
                </div>
            </div>
        </section>

        <div class="mt-4">
            <button type="submit" class="btn ibexa-btn ibexa-btn--primary">
                <svg class="ibexa-icon ibexa-icon--small">
                    <use xlink:href="{{ ibexa_icon_path('checkmark') }}"></use>
                </svg>
                <span class="ibexa-btn__label">
                    {{ 'policy.form.create'|trans|desc('Create policy') }}
                </span>
            </button>
            <a href="{{ path('masilia_consent_admin_policy_list') }}" class="btn ibexa-btn ibexa-btn--ghost">
                {{ 'policy.form.cancel'|trans|desc('Cancel') }}
            </a>
        </div>
    {{ form_end(form) }}
{% endblock %}
