{% extends '@ibexadesign/language/base.html.twig' %}

{% form_theme form '@ibexadesign/ui/form_fields.html.twig' %}

{% trans_default_domain 'masilia_consent' %}

{% block header_admin %}
    {% set category_create_sidebar_right = knp_menu_get('masilia_consent.menu.category_sidebar', [], {
        save_id: form.save.vars.id,
        cancel_url: path('masilia_consent_admin_policy_view', {id: policy.id}),
    }) %}

    {% include '@ibexadesign/ui/edit_header.html.twig' with {
        action_name: 'category.creating'|trans|desc('Creating'),
        title: 'category.create.title'|trans|desc('Create new category'),
        subtitle: 'policy.subtitle'|trans|desc('Cookie Policies'),
        context_actions: knp_menu_render(category_create_sidebar_right, {'template': '@ibexadesign/ui/menu/context_menu.html.twig'})
    } %}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('masilia_consent_admin_category_create', {policyId: policy.id})}) }}
        <section>
            <div class="card ibexa-card ibexa-card--light">
                <h3 class="ibexa-card__title">
                    {{ 'category.form.basic_information'|trans|desc('Basic Information') }}
                </h3>
                <div class="card-body ibexa-card__body ibexa-form-block">
                    {{ form_row(form.identifier, { row_attr: { class: 'ibexa-form-field' }, attr: {'autofocus': 'autofocus'} }) }}
                    {{ form_row(form.name, { row_attr: { class: 'ibexa-form-field' } }) }}
                    {{ form_row(form.description, { row_attr: { class: 'ibexa-form-field' } }) }}
                    {{ form_row(form.position, { row_attr: { class: 'ibexa-form-field' } }) }}
                </div>
            </div>
        </section>

        <section class="mt-4">
            <div class="card ibexa-card ibexa-card--light">
                <h3 class="ibexa-card__title">
                    {{ 'category.form.settings'|trans|desc('Settings') }}
                </h3>
                <div class="card-body ibexa-card__body ibexa-form-block">
                    {{ form_row(form.required, { row_attr: { class: 'ibexa-form-field' }, label_attr: {'class': 'checkbox-inline'}}) }}
                    {{ form_row(form.defaultEnabled, { row_attr: { class: 'ibexa-form-field' }, label_attr: {'class': 'checkbox-inline'}}) }}
                </div>
            </div>
        </section>
        {{ form_widget(form.save, {'attr': {'hidden': 'hidden'}}) }}
    {{ form_end(form) }}
{% endblock %}
