{% extends '@ibexadesign/language/base.html.twig' %}

{% form_theme form '@ibexadesign/ui/form_fields.html.twig' %}

{% trans_default_domain 'masilia_consent' %}

{% block header_admin %}
    {% set service_create_sidebar_right = knp_menu_get('masilia_consent.menu.service_sidebar', [], {
        save_id: form.save.vars.id,
        cancel_url: path('masilia_consent_admin_policy_view', {id: policy.id}),
    }) %}

    {% include '@ibexadesign/ui/edit_header.html.twig' with {
        action_name: 'third_party_service.creating'|trans|desc('Creating'),
        title: 'third_party_service.create.title'|trans|desc('Create new third-party service'),
        subtitle: 'policy.subtitle'|trans|desc('Cookie Policies'),
        context_actions: knp_menu_render(service_create_sidebar_right, {'template': '@ibexadesign/ui/menu/context_menu.html.twig'})
    } %}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('masilia_consent_admin_service_create', {policyId: policy.id})}) }}
        <section>
            <div class="card ibexa-card ibexa-card--light">
                <h3 class="ibexa-card__title">
                    {{ 'third_party_service.form.preset_section'|trans|desc('Service Preset') }}
                </h3>
                <div class="card-body ibexa-card__body ibexa-form-block">
                    {% include '@ibexadesign/ui/component/alert/alert.html.twig' with {
                        type: 'info',
                        title: 'third_party_service.form.preset_info'|trans|desc('Select a preset to automatically configure cookies and scripts for popular services like Google Analytics, Facebook Pixel, etc.'),
                    } only %}
                    {{ form_row(form.presetType, { row_attr: { class: 'ibexa-form-field' }, attr: {'autofocus': 'autofocus'} }) }}
                </div>
            </div>
        </section>

        <section class="mt-4">
            <div class="card ibexa-card ibexa-card--light">
                <h3 class="ibexa-card__title">
                    {{ 'third_party_service.form.basic_information'|trans|desc('Basic Information') }}
                </h3>
                <div class="card-body ibexa-card__body ibexa-form-block">
                    {{ form_row(form.identifier, { row_attr: { class: 'ibexa-form-field' } }) }}
                    {{ form_row(form.name, { row_attr: { class: 'ibexa-form-field' } }) }}
                    {{ form_row(form.category, { row_attr: { class: 'ibexa-form-field' } }) }}
                    {{ form_row(form.description, { row_attr: { class: 'ibexa-form-field' } }) }}
                    {{ form_row(form.privacyPolicyUrl, { row_attr: { class: 'ibexa-form-field' } }) }}
                </div>
            </div>
        </section>

        <section class="mt-4">
            <div class="card ibexa-card ibexa-card--light">
                <h3 class="ibexa-card__title">
                    {{ 'third_party_service.form.configuration'|trans|desc('Configuration') }}
                </h3>
                <div class="card-body ibexa-card__body ibexa-form-block">
                    {{ form_row(form.configKey, { row_attr: { class: 'ibexa-form-field' } }) }}
                    {{ form_row(form.configValue, { row_attr: { class: 'ibexa-form-field' } }) }}
                    {{ form_row(form.enabled, { row_attr: { class: 'ibexa-form-field' }, label_attr: {'class': 'checkbox-inline'}}) }}
                </div>
            </div>
        </section>
        {{ form_widget(form.save, {'attr': {'hidden': 'hidden'}}) }}
    {{ form_end(form) }}
{% endblock %}
